# usa state details

In [86]:
import pandas as pd

In [87]:
path1 = "Project_data/state-abbrevs.csv"
path2 = "Project_data/state-areas.csv"
path3 = "Project_data/statelatlong.csv"

In [88]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
df3 = pd.read_csv(path3)
df3
df4 = df1.merge(df2,on = "state")
df5 = df4.merge(df3,on = "state")
del df5["abbreviation_y"]
df5

                   state abbreviation_x  area (sq. mi)   Latitude   Longitude
0                Alabama             AL          52423  32.601011  -86.680736
1                 Alaska             AK         656425  61.302501 -158.775020
2                Arizona             AZ         114006  34.168219 -111.930907
3               Arkansas             AR          53182  34.751928  -92.131378
4             California             CA         163707  37.271875 -119.270415
5               Colorado             CO         104100  38.997934 -105.550567
6            Connecticut             CT           5544  41.518784  -72.757507
7               Delaware             DE           1954  39.145251  -75.418921
8   District of Columbia             DC             68  38.899349  -77.014567
9                Florida             FL          65758  27.975728  -83.833017
10               Georgia             GA          59441  32.678125  -83.222976
11                Hawaii             HI          10932  20.460000 -157.505000
12                 Idaho             ID          83574  45.494576 -114.142430
13              Illinois             IL          57918  39.739318  -89.504139
14               Indiana             IN          36420  39.766219  -86.441277
15                  Iowa             IA          56276  41.938317  -93.389798
16                Kansas             KS          82282  38.498779  -98.320078
17              Kentucky             KY          40411  37.822294  -85.768240
18             Louisiana             LA          51843  30.973377  -91.429910
19                 Maine             ME          35387  45.218513  -69.014866
20               Montana             MT         147046  46.679800 -110.044783
21              Nebraska             NE          77358  41.500819  -99.680902
22                Nevada             NV         110567  38.502032 -117.023060
23         New Hampshire             NH           9351  44.001231  -71.579923
24            New Jersey             NJ           8722  40.143006  -74.731116
25            New Mexico             NM         121593  34.166232 -106.026069
26              New York             NY          54475  40.705626  -73.979680
27        North Carolina             NC          53821  35.214563  -79.891267
28          North Dakota             ND          70704  47.467882 -100.302266
29                  Ohio             OH          44828  40.190362  -82.669252
30              Oklahoma             OK          69903  35.309765  -98.716558
31                Oregon             OR          98386  44.141905 -120.538099
32              Maryland             MD          12407  38.806352  -77.268416
33         Massachusetts             MA          10555  42.062940  -71.718067
34              Michigan             MI          96810  44.943560  -86.415805
35             Minnesota             MN          86943  46.441859  -93.365515
36           Mississippi             MS          48434  32.585106  -89.877220
37              Missouri             MO          69709  38.304662  -92.437099
38          Pennsylvania             PA          46058  40.994593  -77.604698
39          Rhode Island             RI           1545  41.582728  -71.506451
40        South Carolina             SC          32007  33.625050  -80.947038
41          South Dakota             SD          77121  44.212699 -100.247164
42             Tennessee             TN          42146  35.830521  -85.978599
43                 Texas             TX         268601  31.169336 -100.076842
44                  Utah             UT          84904  39.499761 -111.547028
45               Vermont             VT           9615  43.871755  -72.447783
46              Virginia             VA          42769  38.003386  -79.458786
47            Washington             WA          71303  38.899349  -77.014567
48         West Virginia             WV          24231  38.920171  -80.181691
49             Wisconsin             WI          65503  44.786297  -89.826705
50               Wyoming             WY          97818  43.000325 -107.554567